body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: left;
    color: black;
}

.rata-rata {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
#tampilkan {
    display: block;
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #F5F5DC;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.datasiswa {
    display: none;
    background-color: #F5F5DC;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: white;
    color: black;
}
